.screenView {
  position: relative;
  .gridDiv {
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--page-bg-color);
  }
  .screen {
    width: 100%;
    height: 100%;
    position: relative;
    transform: scale(1);
    transform-origin: 0px 0px;
    .widget {
      position: absolute;
      width: 100px;
      height: 100px;
    }
  }
}
