.center {
  flex: 1 1;
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../../../assets/image/null.png);
  .screen {
    width: calc(100% - var(--screen-margin));
    height: calc(100% - var(--screen-margin));
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: var(--screen-margin);
    left: var(--screen-margin);
  }
  .content {
    flex: 1 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}
