.ag-theme-alpine {
  --ag-grid-size: 4px;
  --ag-list-item-height: 40px;
  --ag-background-color: var(--light-navy);
  --ag-header-background-color: var(--light-navy);
  --ag-header-foreground-color: rgba(255, 255, 255, 0.85);
  --ag-data-color: rgba(255, 255, 255, 0.85);
  --ag-value-change-delta-down-color: rgb(0, 200, 160);
  --ag-value-change-delta-up-color: rgb(255, 0, 80);
  --ag-cell-horizontal-border: 'solid 1px rgb(255, 0, 80)';
  --ag-row-hover-color: rgba(24, 47, 87, 0.991);
  --ag-range-selection-border-color: rgb(0, 200, 160);
  --ag-odd-row-background-color: var(--light-navy);
  --ag-input-focus-border-color: rgb(0, 200, 160);
  .ag-header-cell,
  .ag-header-group-cell {
    border-right: solid 1px rgba(255, 255, 255, 0.85);
  }
  .ag-ltr .ag-cell {
    border-right: solid 1px rgba(255, 255, 255, 0.85);
  }
  // .ag-center-cols-container {
  //   width: unset !important;
  // }

  .ag-ltr .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
  .ag-ltr .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
  .ag-ltr .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
  .ag-ltr .ag-cell-range-single-cell,
  .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle,
  .ag-rtl .ag-cell-focus:not(.ag-cell-range-selected):focus-within,
  .ag-rtl .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected),
  .ag-rtl .ag-full-width-row.ag-row-focus:focus .ag-cell-wrapper.ag-row-group,
  .ag-rtl .ag-cell-range-single-cell,
  .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
  }
}
